{% extends "base.html" %}
{% block title %}
    assignment8
{% endblock %}

{% block content %}

 <div>
            {% set myName ={'firstName': "liron", 'lastName':"amiel"} %}
            <h1>Hello my name from jinja is {{ myName.firstName | capitalize }} {{ myName.lastName | upper}}</h1>
        </div>
        <div>
            {% set page_name= 'hobbis' %}
            {% include 'hobbis.html' %}
        </div>
        <div>
            {{ myLovedNumber| abs }}
            {% if myLovedNumber==6 %}
                Ooooo i love this number
            {% endif %}
        </div>
        <div>
        {{ user| upper }}
        <ul>

            {% for user in users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
        </div>

{% endblock %}